body {
  background-color: #c2c5aa;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: #7f4f24;
  font-size: 60px;
  font-weight: 300px;
}

h2 {
  color: #414833;
  font-size: 36px;
}

h3 {
  font-size: 36px;
  color: #414833;
}

a {
  text-decoration: none;
}

li {
  list-style-position: inside;
}

li,
ul {
  line-height: 20px;
}
/* Class & IDs */

.anigif {
  border-radius: 50px;
}

.photo {
  height: auto;
  width: 500px;
}

.home {
  font-size: 36px;
}
